/************ Footer Css ************/
.footer {
    /* background-image: url("../assets/img/footer-bg.webp"); */
    background: linear-gradient(to right, #7e1f2a2b, transparent,transparent,transparent,transparent, #7e1f2a2b);
  }
  .footer .logo {
    padding-top: 15px;
    object-fit: cover;
  }
  .footer img {
    width: 26%;
  }
  
  .footer .social-icon {
    padding: 8px;
  }
  
  .footer p {
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin: 10px 0;
  }
  .footer .nameGradient {
    /* background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%); */
    background: linear-gradient(
      90.21deg,
      #7e1f2a -5.91%,
      #ff4057 111.58%
    );
    background-clip: text;
    color: transparent;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    display: inline-flex;
    font-size: calc(1.3rem + 0.6vw);
    font-weight: 500;
  }
  @media (max-width: 767px) {
    .name-copyright {
      text-align: center;
    }
  }